################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jonpaulsalomon.JumpingOnTheClouds/Jonpaulsalomon.JumpingOnTheClouds/bin/Debug/netcoreapp3.1
/Jonpaulsalomon.JumpingOnTheClouds/Jonpaulsalomon.JumpingOnTheClouds/obj
/Jonpaulsalomon.JumpingOnTheClouds/.vs/Jonpaulsalomon.JumpingOnTheClouds/v16/Server/sqlite3
/Jonpaulsalomon.JumpingOnTheClouds/.vs/Jonpaulsalomon.JumpingOnTheClouds/DesignTimeBuild
